{% extends 'base.html' %} {% load static %} {% block section %}
<h2 class="text-center mb-4">Equipos Participantes</h2>
<hr />
{% endblock section %} {% block maincontent %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for c in object_list %}
    <div class="col mt-3 mb-3">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title text-center">{{ c.name }}</h5>
        </div>
        <div class="card-body">
          <a href="{% url 'team-detail' c.pk %}" class="text-decoration-none">
            <div class="text-center mb-3">
              <img
                src="{% static c.shield.url %}"
                class="img-fluid rounded"
                alt="Escudo"
                style="max-height: 200px"
              />
            </div>
            <div class="text-center">
              <img
                src="{% static c.team.url %}"
                class="img-fluid rounded"
                alt="Equipo"
                style="max-height: 200px"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock maincontent %}
