{% extends 'base.html' %}

{% load static %}

{% block section %}
    <a href="{% url 'team-update' object.id %}" 
        class="btn btn-primary btn-sm rounded-pill shadow-sm">
        <i class="fas fa-edit me-1"></i> Edit
    </a>

    <a href="{% url 'team-delete' object.id %}" 
        class="btn btn-danger btn-sm rounded-pill shadow-sm">
        <i class="fas fa-trash-alt me-1"></i> Delete
    </a>

   <h2>
       {{ object.first_name }} {{ object.last_name }}
       {% if object.team_id %}
         ( <a href="{% url "team-detail" object.team_id %}">
             {{ object.team }}
           </a> )
       {% endif %}
    </h2>
    <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>
   <hr>
{% endblock section %}

{% block maincontent %}
<div>
 <div>
     <img src="{% static object.shield.url %}" style="width:250px;height:330px" />
 </div>
</div>
{% endblock maincontent %}
